<div class='edit'>
  <h1 style='text-align:center'>Editar Produto</h1>
  <%= render "form", producao: @producao %>
  <div class='edit-button'>
    <%= link_to "Voltar", producaos_path %>
  </div>
</div>  
