  
<nav aria-label="Page navigation example">
  <ul class="pagination">
  <li>
    <%=link_to_prev_page @producaos, "Voltar", class:"btn btn-primary" %>
    <%=link_to_next_page @producaos, "Avançar", class:"btn btn-primary" %>
  </li>
  </ul>
  </nav>
